body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.top-section-wrapper {
  overflow: hidden;
  background-color: #001D37;
  padding-left: 16px;
  padding-right: 16px;
}

.top-section {
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.top-section h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 525px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 70px;
}

.our-btn {
  font-family: inherit;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #475AFF;
  border: 2px solid #475AFF;
  color: #FFF;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 1000px;
  transition: background-color .3s ease-out, border .3s ease-out, color .3s ease-out;
}

.our-btn:hover {
  background-color: #2E40E2;
  border: 2px solid #2E40E2;
}

.our-btn--outline {
  background-color: transparent;
  border: 2px solid white;
}

.our-btn--outline:hover {
  background-color: white;
  color: #475AFF;
  border: 2px solid white;
}

.utility-mr {
  margin-right: 10px;
}

.intro-feature {
  padding: 33px 25px;
  border: 1px solid rgba(255, 255, 255, .24);
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px 0;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 580px) {
  .intro-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.circle {
  width: 617px;
  height: 617px;
  background: #D660FF;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.circle-two {
  width: 617px;
  height: 617px;
  background: #6079FF;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.page-section {
  background-color: #FFF;
  padding: 70px 16px;
}

.page-section-inner {
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.pet-filter {
  color: #9F9F9F;
  font-size: 1.15rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.15rem;
  color: #9F9F9F;
  cursor: pointer;
}

.pet-filter button:hover {
  color: #7d7d7d;
}

.pet-filter .active,
.pet-filter .active:hover {
  color: #475AFF;
  text-decoration: underline;
}

.site-footer p {
  text-align: center;
  color: #A6A6A6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

.site-footer .logout-text {
  padding: 0;
}

.site-footer .logout-text a:link,
.site-footer .logout-text a:visited {
  font-family: inherit;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #A6A6A6;
}

.site-footer .footer-nav {
  font-size: 0.95rem;
  padding: 0;
}

.generic-page-content p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.footer-nav a {
  color: #a6a6a6;
  margin: 0 12px;
}

.list-of-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 34px;
  row-gap: 16px;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 165px 1fr;
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 18px 16px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.625rem;
  font-weight: 600;
}

.pet-description {
  font-size: .9rem;
  margin: 0 0 1rem 0;
  color: #626262;
  line-height: 150%;
}

.pet-age {
  color: #A2A2A2;
  font-size: .85rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .pet-description {
    font-size: 1rem;
  }

  .pet-card-text {
    padding: 21px 29px;
  }

  .list-of-pets {
    row-gap: 28px;
  }

  .pet-filter {
    font-size: 1.375rem;
  }

  .pet-filter button {
    font-size: 1.375rem;
  }

  .page-section-title {
    font-size: 5.31rem;
  }

  .page-section {
    padding: 130px 16px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding-top: 139px;
    padding-bottom: 139px;
  }
}

/* Admin Pages CSS */
.form-field {
  display: block;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0 0 16px 0;
  border: 1px solid rgba(0, 0, 0, .09);
  font-family: inherit;
}

textarea.form-field {
  height: 150px;
  resize: none;
}

.mb-big {
  margin-bottom: 25px;
}

.small-link {
  display: inline-block;
  font-size: .8rem;
  color: #999;
  position: relative;
  z-index: 3;
}

.action-btn {
  text-decoration: none;
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 10px 0 0;
  font-size: .9rem;
  cursor: pointer;
  color: #475AFF;
}

.action-btn:last-child {
  margin-right: 0;
}

.action-btn:hover {
  color: #2030bc;
  text-decoration: underline;
}

.add-pet-btn {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  padding: 13px 18px;
  margin: 0 0 30px 0;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #FFF;
  background-color: rgb(19, 130, 19);
}

.add-pet-btn svg {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.add-pet-btn:hover {
  background-color: rgb(13, 105, 13);
}

.still-loading .pet-card-photo,
.still-loading .pet-card-text {
  opacity: 0;
}

.still-loading .pet-card {
  background-color: #b9b9b9;
}

@keyframes loadingflashing {
  0% {
    opacity: .1;
  }

  100% {
    opacity: .4;
  }
}

.still-loading {
  animation: .6s loadingflashing ease-in-out alternate infinite;
}

.form-is-loading .form-field {
  background-color: #b9b9b9;
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
}

.form-is-loading .form-field::placeholder {
  color: #b9b9b9;
}

.form-is-loading {
  animation: .6s loadingflashing ease-in-out alternate infinite;
}

.photo-preview {
  margin-bottom: 26px;
}

.photo-preview img {
  display: block;
  max-width: 190px;
  height: auto;
}

.flash-message {
  font-size: 0.9rem;
  background-color: rgb(255, 212, 212);
  color: rgb(111, 0, 0);
  border-radius: 20px;
  padding: 10px 16px;
  margin: 0 0 1rem 0;
}

/* Contact Form Styles */
.form-overlay {
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.33s ease-out;
}

.form-overlay--is-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.form-overlay-inner {
  position: relative;
  max-width: 880px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  margin: 16px;
  flex: 1;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
}

.form-photo {
  order: 1;
  grid-row: 1;
  position: relative;
  height: 200px;
}

.form-content {
  padding: 38px 30px;
}

@media screen and (min-width: 745px) {
  .form-overlay {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .form-content {
    padding: 38px 54px;
    position: relative;
  }

  .form-overlay-inner {
    grid-template-columns: 340px 1fr;
  }

  .form-photo {
    height: auto;
  }
}

.form-photo p {
  line-height: 1.2;
  font-size: 0.9375rem;
  color: #555;
  position: absolute;
  margin: 0;
  padding: 16px 25px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(2px);
}

.form-photo p strong {
  color: #000;
  font-size: 2.25rem;
  font-weight: normal;
  display: block;
}

.form-photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.close-form-overlay {
  z-index: 101;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 12px;
  color: rgba(0, 0, 0, 0.41);
  font-size: 2.25rem;
  transform: scaleX(1.2);
  opacity: .7;
}

.close-form-overlay:hover {
  opacity: 1;
}

.pet-contact-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 0 12px;
  position: relative;
  top: 4px;
  opacity: .7;
  cursor: pointer;
  outline: none;
}

.pet-contact-btn:hover {
  opacity: 1;
}

.thank-you {
  opacity: 0;
  visibility: hidden;
  z-index: 102;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all .3s ease-out;
}

.thank-you--visible {
  opacity: 1;
  visibility: visible;
}

.thank-you p {
  align-self: center;
  font-size: 1.4rem;
}

.thank-you svg {
  color: rgb(12, 189, 12);
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.contact-list {
  width: 100%;
  border-collapse: collapse;
}

.contact-list th,
.contact-list td {
  padding: 10px;
  vertical-align: top;
}

.contact-list th {
  text-align: left;
  font-weight: normal;
  font-size: .87rem;
  color: #7d7d7d;
  padding: 0 10px;
}

.contact-list td {
  font-size: 1rem;
}

.contact-list tr:nth-child(even) {
  background-color: #f1f1f1;
}